.main {
    position         : absolute;
    left             : 0;
    top              : 0;
    width            : 100%;
    height           : 100%;
    background-color : #000000;
}

.player {
    position            : absolute;
    width               : 10%;
    height              : 10%;
    background-image    : url('../images/player.png');
    background-repeat   : no-repeat;
    background-size     : contain;
    background-position : center center;
}

.shot {
    position            : absolute;
    width               : 2%;
    height              : 2%;
    background-image    : url('../images/shot.png');
    background-repeat   : no-repeat;
    background-size     : contain;
    background-position : center center;
}